{% extends 'base.html.twig' %}

{% block title %}Classement des pays{% endblock %}

{% block body %}
    <h1 class="text-center">
        Classement des pays
    </h1>
    <hr>

    <div class="table-responsive">
        <table class="table bs-table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th data-sortable="true">Classement</th>
                <th data-sortable="false">Pays</th>
                <th data-sortable="true">Classement</th>
                <th data-sortable="true">Match joués</th>
            </tr>
            </thead>
            <tbody>
            {% for team in teams %}
                <tr
                        {% if loop.index == 11 %}
                            style="border-top: 3px solid #198754"
                        {% endif %}

                        {% if loop.index == 21 %}
                            style="border-top: 3px solid #b9d87b"
                        {% endif %}

                        {% if loop.index == 31 %}
                            style="border-top: 3px solid #ffc107"
                        {% endif %}
                >
                    <td>{{ loop.index }}
                    </td>
                    <td>
                        <img src="https://flagcdn.com/w20/{{ team.countryCode|lower }}.png" width="16" height="12"  alt="{{ team.countryCode }}">
                        <a class="text-decoration-none text-black" href="{{ path('team_view', {"id": team.id}) }}">{{ team.name }}</a>
                        {% for tournament in team.winnedTournaments %}
                            <i class="fas fa-star" style="color: goldenrod" title="{{ tournament }}" ></i>
                        {% endfor %}
                        {% for tournament in team.finalistTournaments %}
                            <i class="fas fa-star fa-sm" style="color: silver" title="{{ tournament }}" ></i>
                        {% endfor %}
                        {% for tournament in team.finalPhasesTournaments %}
                            <i class="fas fa-star fa-xs" style="color: #cd7f32" title="{{ tournament }}" ></i>
                        {% endfor %}
                    </td>
                    <td>{{ team.rating }}</td>
                    <td>{{ team.matchesHosting|length + team.matchesReceiving|length }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        function nameSort(a, b) {
            console.log(a, b, a.localeCompare(b));
            return a.localeCompare(b);
        }
    </script>
{% endblock %}
