{% extends 'base.html.twig' %}

{% block title %}Classement des pays{% endblock %}

{% block body %}

    <h1 class="text-center">
        Les derniers matchs
    </h1>

    {% if lastMatches|length > 0 %}
    <div class="row">
        {% for match in lastMatches %}
        <div class="col-12 col-md-6 col-lg-3">
            <div class="card">
                <div class="card-body">
                    <p class="text-center">
                        {{ match.tournament.name }}
                    </p>
                    <p class="text-center">
                        <strong>
                            <a href="{{ path('team_view', {'id': match.hostingTeam.id }) }}" style="text-decoration: none">
                                <img src="https://flagcdn.com/w40/{{ match.hostingTeam.countryCode|lower }}.png" width="32" height="24"  alt="{{ match.hostingTeam.countryCode }}"
                                     title="{{ match.hostingTeam }}">
                            </a>
                            {{ match.hostingTeamScore }}
                            -
                            {{ match.receivingTeamScore }}
                            <a href="{{ path('team_view', {'id': match.receivingTeam.id }) }}" style="text-decoration: none">
                                <img src="https://flagcdn.com/w40/{{ match.receivingTeam.countryCode|lower }}.png" width="32" height="24"  alt="{{ match.receivingTeam.countryCode }}"
                                         title="{{ match.receivingTeam }}">
                            </a>
                        </strong>
                    </p>
                    <p class="small text-center">
                        {{ match.description }}
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
        <div class="alert alert-warning text-center">Aucun match joué</div>
    {% endif %}



    <h1 class="text-center mt-5">
        Classement des pays
    </h1>
    <hr>

    <div class="table-responsive">
        <table class="table bs-table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th data-sortable="true">Classement</th>
                <th data-sortable="false">Pays</th>
                <th data-sortable="false">Région</th>
                <th data-sortable="true">Elo</th>
                <th data-sortable="false">J</th>
                <th data-sortable="false">V</th>
                <th data-sortable="false">N</th>
                <th data-sortable="false">D</th>
                <th data-sortable="false">DB</th>
                <th data-sortable="false"></th>
            </tr>
            </thead>
            <tbody>
            {% for team in teams %}
                <tr
                        {% if loop.index == 11 %}
                            style="border-top: 3px solid #198754"
                        {% endif %}

                        {% if loop.index == 21 %}
                            style="border-top: 3px solid #b9d87b"
                        {% endif %}

                        {% if loop.index == 31 %}
                            style="border-top: 3px solid #ffc107"
                        {% endif %}

                        {% if loop.index0 == (teams|length / 2)  %}
                            style="border-top: 3px solid #d9534f"
                        {% endif %}
                >
                    <td>{{ loop.index }}
                    </td>
                    <td>
                        <img src="https://flagcdn.com/w20/{{ team.countryCode|lower }}.png" width="16" height="12"  alt="{{ team.countryCode }}">
                        <a class="text-decoration-none text-black" href="{{ path('team_view', {"id": team.id}) }}">{{ team.name }}</a>
                        {% for tournament in team.winnedTournaments %}
                            {% if tournament.major %}
                                <i class="fas fa-star" style="color: goldenrod" title="{{ tournament }}" ></i>
                            {% endif %}
                        {% endfor %}
                        {% for tournament in team.finalistTournaments %}
                            {% if tournament.major %}
                                <i class="fas fa-star fa-sm" style="color: silver" title="{{ tournament }}" ></i>
                            {% endif %}
                        {% endfor %}
                        {% for tournament in team.finalPhasesTournaments %}
                            {% if tournament.major %}
                                <i class="fas fa-star fa-xs" style="color: #cd7f32" title="{{ tournament }}" ></i>
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>{{ team.region }}</td>
                    <td>{{ team.rating }}</td>
                    <td>{{ team.matchPlayedCount }}</td>
                    <td>{{ team.victories|length }}</td>
                    <td>{{ team.draws|length }}</td>
                    <td>{{ team.defeats|length }}</td>
                    <td>{{ team.goalDiff > 0 ? '+' : '' }} {{ team.goalDiff }} ({{ team.goalDiffPerMatch >= 0 ? '+' : '' }} {{ team.goalDiffPerMatch }}/match)</td>
                    <td>
                        {% for match in team.lastMatches %}
                            {% if team == match.winner %}
                            <span class="green-dot"></span>
                            {% elseif team == match.loser %}
                            <span class="red-dot"></span>
                            {% else %}
                            <span class="yellow-dot"></span>
                            {% endif %}
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        function nameSort(a, b) {
            console.log(a, b, a.localeCompare(b));
            return a.localeCompare(b);
        }
    </script>
{% endblock %}
