{% extends 'base.html.twig' %}

{% block title %}Classement des pays{% endblock %}

{% block body %}
    <h1 class="text-center">
        Classement des pays
    </h1>
    <hr>

    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover"
               data-toggle="table"
               data-search="true"
               data-locale="fr-FR"
        >
            <thead>
            <tr>
                <th>Classement</th>
                <th>Pays</th>
                <th>Classement</th>
            </tr>
            </thead>
            <tbody>
            {% for team in teams %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>
                        <img src="https://www.countryflagicons.com/FLAT/16/{{ team.countryCode }}.png" alt="{{ team.countryCode }}">
                        <a href="{{ path('team_view', {"id": team.id}) }}">{{ team.name }}</a>
                    </td>
                    <td>{{ team.rating }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
