{% extends 'base.html.twig' %}

{% block title %}
    Analyse de matchup
{% endblock %}


{% block body %}

    <h1 class="text-center">Analyse de matchup</h1>
    <hr>

    {{ form_start(form) }}

    <div class="row">
        <div class="col-12 col-md-6">
            {{ form_row(form.team1) }}
        </div>
        <div class="col-12 col-md-6">
            {{ form_row(form.team2) }}
        </div>
    </div>

    <div class="text-center">
        <button type="submit" class="btn btn-primary">Analyser</button>
    </div>

    {{ form_end(form) }}

    <hr>
    {% if team1 and team2 %}
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="text-center">
                            <a class="text-decoration-none text-black" href="{{ path('team_view', {'id': team1.id}) }}">
                                {{ team1.name }}
                            </a>
                        </h4>
                        <div class="text-center">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="fw-bold">
                                        {{ team1.rating }}
                                        {% if eloDiff < 0 %}
                                            <span class="text-danger">
                                            ({{ eloDiff }})
                                        </span>
                                        {% else %}
                                            <span class="text-success">
                                            (+{{ eloDiff }})
                                        </span>
                                        {% endif %}
                                        ({{ team1Position }}<sup>{{ team1Position == 1 ? 'er' : 'ème' }}</sup>)
                                    </h5>
                                    <p class="lead">
                                        Chances de victoire : {{ winProbability }}%
                                    </p>
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>Résultat</th>
                                            <th>Modif elo</th>
                                            <th>Nouveau rang</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>Victoire (10+ buts)</td>
                                            <td>
                                                {% if eloDiffWin > 0 %}
                                                    <span class="text-success">+{{ (eloDiffWin * 2)|number_format }}</span>
                                                {% else %}
                                                    <span class="text-danger">{{ (eloDiffWin * 2)|number_format }}</span>
                                                {% endif %}
                                            </td>
                                            <td>
                                                {{ team1PositionWin10Goals }}<sup>{{ team1PositionWin10Goals == 1 ? 'er' : 'ème' }}</sup>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Victoire (8+ buts)</td>
                                            <td>
                                                {% if eloDiffWin > 0 %}
                                                    <span class="text-success">+{{ (eloDiffWin * 1.875)|number_format }}</span>
                                                {% else %}
                                                    <span class="text-danger">{{ (eloDiffWin * 1.875)|number_format }}</span>
                                                {% endif %}
                                            </td>
                                            <td>
                                                {{ team1PositionWin8Goals }}<sup>{{ team1PositionWin8Goals == 1 ? 'er' : 'ème' }}</sup>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Victoire (6+ buts)</td>
                                            <td>
                                                {% if eloDiffWin > 0 %}
                                                    <span class="text-success">+{{ (eloDiffWin * 1.75)|number_format }}</span>
                                                {% else %}
                                                    <span class="text-danger">{{ (eloDiffWin * 1.75)|number_format }}</span>
                                                {% endif %}
                                            </td>
                                            <td>
                                                {{ team1PositionWin6Goals }}<sup>{{ team1PositionWin6Goals == 1 ? 'er' : 'ème' }}</sup>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Victoire (4+ buts)</td>
                                            <td>
                                                {% if eloDiffWin > 0 %}
                                                    <span class="text-success">+{{ (eloDiffWin * 1.5)|number_format }}</span>
                                                {% else %}
                                                    <span class="text-danger">{{ (eloDiffWin * 1.5)|number_format }}</span>
                                                {% endif %}
                                            </td>
                                            <td>
                                                {{ team1PositionWin4Goals }}<sup>{{ team1PositionWin4Goals == 1 ? 'er' : 'ème' }}</sup>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Victoire</td>
                                            <td>
                                                {% if eloDiffWin > 0 %}
                                                    <span class="text-success">+{{ eloDiffWin }}</span>
                                                {% else %}
                                                    <span class="text-danger">{{ eloDiffWin }}</span>
                                                {% endif %}
                                            </td>
                                            <td>
                                                {{ team1PositionWin }}<sup>{{ team1PositionWin == 1 ? 'er' : 'ème' }}</sup>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Match nul</td>
                                            <td>
                                                {% if eloDiffDraw > 0 %}
                                                    <span class="text-success">+{{ eloDiffDraw }}</span>
                                                {% else %}
                                                    <span class="text-danger">{{ eloDiffDraw }}</span>
                                                {% endif %}
                                            </td>
                                            <td>
                                                {{ team1PositionDraw }}<sup>{{ team1PositionDraw == 1 ? 'er' : 'ème' }}</sup>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Défaite</td>
                                            <td>
                                                {% if eloDiffLose > 0 %}
                                                    <span class="text-success">+{{ eloDiffLose }}</span>
                                                {% else %}
                                                    <span class="text-danger">{{ eloDiffLose }}</span>
                                                {% endif %}
                                            </td>
                                            <td>{{ team1PositionLose }}<sup>{{ team1PositionLose == 1 ? 'er' : 'ème' }}</sup></td>
                                        </tr>
                                        <tr>
                                            <td>Défaite (4+ buts)</td>
                                            <td>
                                                {% if eloDiffLose > 0 %}
                                                    <span class="text-success">+{{ (eloDiffLose * 1.5)|number_format }}</span>
                                                {% else %}
                                                    <span class="text-danger">{{ (eloDiffLose * 1.5)|number_format }}</span>
                                                {% endif %}
                                            </td>
                                            <td>{{ team1PositionLose4Goals }}<sup>{{ team1PositionLose4Goals == 1 ? 'er' : 'ème' }}</sup></td>
                                        </tr>
                                        <tr>
                                            <td>Défaite (6+ buts)</td>
                                            <td>
                                                {% if eloDiffLose > 0 %}
                                                    <span class="text-success">+{{ (eloDiffLose * 1.75)|number_format }}</span>
                                                {% else %}
                                                    <span class="text-danger">{{ (eloDiffLose * 1.75)|number_format }}</span>
                                                {% endif %}
                                            </td>
                                            <td>{{ team1PositionLose6Goals }}<sup>{{ team1PositionLose6Goals == 1 ? 'er' : 'ème' }}</sup></td>
                                        </tr>
                                        <tr>
                                            <td>Défaite (8+ buts)</td>
                                            <td>
                                                {% if eloDiffLose > 0 %}
                                                    <span class="text-success">+{{ (eloDiffLose * 1.875)|number_format }}</span>
                                                {% else %}
                                                    <span class="text-danger">{{ (eloDiffLose * 1.875)|number_format }}</span>
                                                {% endif %}
                                            </td>
                                            <td>{{ team1PositionLose8Goals }}<sup>{{ team1PositionLose8Goals == 1 ? 'er' : 'ème' }}</sup></td>
                                        </tr>
                                        <tr>
                                            <td>Défaite (10+ buts)</td>
                                            <td>
                                                {% if eloDiffLose > 0 %}
                                                    <span class="text-success">+{{ (eloDiffLose * 2)|number_format }}</span>
                                                {% else %}
                                                    <span class="text-danger">{{ (eloDiffLose * 2)|number_format }}</span>
                                                {% endif %}
                                            </td>
                                            <td>{{ team1PositionLose10Goals }}<sup>{{ team1PositionLose10Goals == 1 ? 'er' : 'ème' }}</sup></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="text-center">
                            <a class="text-decoration-none text-black" href="{{ path('team_view', {'id': team2.id}) }}">
                                {{ team2.name }}
                            </a>
                        </h4>
                        <div class="text-center">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="fw-bold">{{ team2.rating }}
                                        {% if eloDiff < 0 %}
                                            <span class="text-success">
                                            (+{{ -eloDiff }})
                                        </span>
                                        {% else %}
                                            <span class="text-danger">
                                            ({{ -eloDiff }})
                                        </span>
                                        {% endif %}
                                        ({{ team2Position }}<sup>{{ team2Position == 1 ? 'er' : 'ème' }}</sup>)
                                    </h5>
                                    <p class="lead">
                                        Chances de victoire : {{ 100 - winProbability }}%
                                    </p>
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>Résultat</th>
                                            <th>Modif elo</th>
                                            <th>Nouveau rang</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>Victoire (10+ buts)</td>
                                            <td>
                                                {% if eloDiffLose < 0 %}
                                                    <span class="text-success">+{{ (-eloDiffLose * 2)|number_format }}</span>
                                                {% else %}
                                                    <span class="text-danger">{{ (-eloDiffLose * 2)|number_format }}</span>
                                                {% endif %}
                                            </td>
                                            <td>
                                                {{ team2PositionWin10Goals }}<sup>{{ team2PositionWin10Goals == 1 ? 'er' : 'ème' }}</sup>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Victoire (8+ buts)</td>
                                            <td>
                                                {% if eloDiffLose < 0 %}
                                                    <span class="text-success">+{{ (-eloDiffLose * 1.875)|number_format }}</span>
                                                {% else %}
                                                    <span class="text-danger">{{ (-eloDiffLose * 1.875)|number_format }}</span>
                                                {% endif %}
                                            </td>
                                            <td>
                                                {{ team2PositionWin8Goals }}<sup>{{ team2PositionWin8Goals == 1 ? 'er' : 'ème' }}</sup>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Victoire (6+ buts)</td>
                                            <td>
                                                {% if eloDiffLose < 0 %}
                                                    <span class="text-success">+{{ (-eloDiffLose * 1.75)|number_format }}</span>
                                                {% else %}
                                                    <span class="text-danger">{{ (-eloDiffLose * 1.75)|number_format }}</span>
                                                {% endif %}
                                            </td>
                                            <td>
                                                {{ team2PositionWin6Goals }}<sup>{{ team2PositionWin6Goals == 1 ? 'er' : 'ème' }}</sup>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Victoire (4+ buts)</td>
                                            <td>
                                                {% if eloDiffLose < 0 %}
                                                    <span class="text-success">+{{ (-eloDiffLose * 1.5)|number_format }}</span>
                                                {% else %}
                                                    <span class="text-danger">{{ (-eloDiffLose * 1.5)|number_format }}</span>
                                                {% endif %}
                                            </td>
                                            <td>
                                                {{ team2PositionWin4Goals }}<sup>{{ team2PositionWin4Goals == 1 ? 'er' : 'ème' }}</sup>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Victoire</td>
                                            <td>
                                                {% if eloDiffLose < 0 %}
                                                    <span class="text-success">+{{ -eloDiffLose }}</span>
                                                {% else %}
                                                    <span class="text-danger">{{ -eloDiffLose }}</span>
                                                {% endif %}
                                            </td>
                                            <td>
                                                {{ team2PositionWin }}<sup>{{ team2PositionWin == 1 ? 'er' : 'ème' }}</sup>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Match nul</td>
                                            <td>
                                                {% if eloDiffDraw < 0 %}
                                                    <span class="text-success">+{{ -eloDiffDraw }}</span>
                                                {% else %}
                                                    <span class="text-danger">{{ -eloDiffDraw }}</span>
                                                {% endif %}
                                            </td>
                                            <td>{{ team2PositionDraw }}<sup>{{ team2PositionDraw == 1 ? 'er' : 'ème' }}</sup></td>
                                        </tr>
                                        <tr>
                                            <td>Défaite</td>
                                            <td>
                                                {% if eloDiffWin < 0 %}
                                                    <span class="text-success">+{{ -eloDiffWin }}</span>
                                                {% else %}
                                                    <span class="text-danger">{{ -eloDiffWin }}</span>
                                                {% endif %}
                                            </td>
                                            <td>
                                                {{ team2PositionLose }}<sup>{{ team2PositionLose == 1 ? 'er' : 'ème' }}</sup>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Défaite (4+ buts)</td>
                                            <td>
                                                {% if eloDiffWin < 0 %}
                                                    <span class="text-success">+{{ (-eloDiffWin * 1.5)|number_format }}</span>
                                                {% else %}
                                                    <span class="text-danger">{{ (-eloDiffWin * 1.5)|number_format }}</span>
                                                {% endif %}
                                            </td>
                                            <td>
                                                {{ team2PositionLose4Goals }}<sup>{{ team2PositionLose4Goals == 1 ? 'er' : 'ème' }}</sup>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Défaite (6+ buts)</td>
                                            <td>
                                                {% if eloDiffWin < 0 %}
                                                    <span class="text-success">+{{ (-eloDiffWin * 1.75)|number_format }}</span>
                                                {% else %}
                                                    <span class="text-danger">{{ (-eloDiffWin * 1.75)|number_format }}</span>
                                                {% endif %}
                                            </td>
                                            <td>
                                                {{ team2PositionLose6Goals }}<sup>{{ team2PositionLose6Goals == 1 ? 'er' : 'ème' }}</sup>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Défaite (8+ buts)</td>
                                            <td>
                                                {% if eloDiffWin < 0 %}
                                                    <span class="text-success">+{{ (-eloDiffWin * 1.875)|number_format }}</span>
                                                {% else %}
                                                    <span class="text-danger">{{ (-eloDiffWin * 1.875)|number_format }}</span>
                                                {% endif %}
                                            </td>
                                            <td>
                                                {{ team2PositionLose8Goals }}<sup>{{ team2PositionLose8Goals == 1 ? 'er' : 'ème' }}</sup>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Défaite (10+ buts)</td>
                                            <td>
                                                {% if eloDiffWin < 0 %}
                                                    <span class="text-success">+{{ (-eloDiffWin * 2)|number_format }}</span>
                                                {% else %}
                                                    <span class="text-danger">{{ (-eloDiffWin * 2)|number_format }}</span>
                                                {% endif %}
                                            </td>
                                            <td>
                                                {{ team2PositionLose10Goals }}<sup>{{ team2PositionLose10Goals == 1 ? 'er' : 'ème' }}</sup>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <h3 class="text-center">Statistiques</h3>

            <div class="row">
                <div class="col-12 col-md-6">
                    <h5 class="text-center">Résultat des confrontations</h5>
                    {{ render_chart(chart) }}
                </div>
                <div class="col-12 col-md-6">
                    <h5 class="text-center">Buts marqués</h5>
                    {{ render_chart(goalsChart) }}
                </div>
            </div>

            <hr class="mt-3">
            <h2 class="text-center">Historique des matches</h2>

            {% if matchesHistory is empty %}
                <div class="alert alert-info text-center">Ces équipes ne se sont jamais rencontrées</div>
            {% else %}
                <table class="table table-hover table-striped">
                    <thead>
                    <tr>
                        <th>Match</th>
                        <th>Tournoi</th>
                        <th>Résultat</th>
                        <th>Description</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for match in matchesHistory %}
                        <tr>
                            <td>
                                <a class="text-decoration-none text-black" href="{{ path('team_view', {'id': match.hostingTeam.id }) }}">{{ match.hostingTeam }}</a> -
                                <a class="text-decoration-none text-black" href="{{ path('team_view', {'id': match.receivingTeam.id }) }}">{{ match.receivingTeam }}</a>
                            </td>
                            <td>
                                <a class="text-decoration-none text-black" href="{{ path('tournament_view', {'id': match.tournament.id }) }}">
                                    {{ match.tournament }}
                                </a>
                            </td>
                            <td>
                                {{ match.hostingTeamScore }} - {{ match.receivingTeamScore }}
                                {% if match.penaltiesWinner %}
                                    <small class="text-muted">
                                        ({{ match.penaltiesWinner }} tab)
                                    </small>
                                {% endif %}
                            </td>
                            <td>{{ match.description }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}


        </div>
    {% endif %}
{% endblock %}


