{% extends 'base.html.twig' %}

{% block title %}
    Équipe - {{ team.name }}
{% endblock %}


{% block body %}
    <h1 class="text-center">
        Équipe - {{ team.name }}
        {% if is_granted('ROLE_USER') %}
            <a href="{{ path('team_edit', {'id': team.id}) }}" class="btn btn-warning">
                <i class="fas fa-edit"></i>
            </a>
        {% endif %}
    </h1>
    <hr>

    <h2 class="text-center mb-4">Parcours dans les tournois</h2>
    <div class="text-center">
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#parcours" aria-expanded="false" aria-controls="parcours">
            Afficher/Cacher le parcours
        </button>
    </div>
    <div class="collapse" id="parcours">
      <div class="card card-body mt-3">
        {% for tournament in tournaments %}
            {% if matches|filter(match => match.tournament == tournament) is not empty %}
            <h3 class="text-center mb-5">
                {% if tournament in team.winnedTournaments %}
                    <i class="fas fa-star" style="color: goldenrod" title="{{ tournament }}" ></i>
                {% elseif tournament in team.finalistTournaments %}
                    <i class="fas fa-star fa-sm" style="color: silver" title="{{ tournament }}" ></i>
                {% elseif tournament in team.finalPhasesTournaments %}
                    <i class="fas fa-star fa-xs" style="color: #cd7f32" title="{{ tournament }}" ></i>
                {% endif %}
                {{ tournament }}
                {% if tournament in team.winnedTournaments %}
                    <i class="fas fa-star" style="color: goldenrod" title="{{ tournament }}" ></i>
                {% elseif tournament in team.finalistTournaments %}
                    <i class="fas fa-star fa-sm" style="color: silver" title="{{ tournament }}" ></i>
                {% elseif tournament in team.finalPhasesTournaments %}
                    <i class="fas fa-star fa-xs" style="color: #cd7f32" title="{{ tournament }}" ></i>
                {% endif %}
            </h3>
            <ol class="steps">
                {% for match in matches|filter(match => match.tournament == tournament) %}
                <li class="step {{ match.winner == team ? 'win' : match.loser == team ? 'lose' : 'draw' }}" data-step="{{ loop.index }}">
                    {% if match.hostingTeam == team %}
                        <img src="https://flagcdn.com/w40/{{ match.receivingTeam.countryCode|lower }}.png" width="32" height="24"  alt="{{ match.receivingTeam.countryCode }}"
                            title="{{ match.receivingTeam }}">
                    {% else %}
                        <img src="https://flagcdn.com/w40/{{ match.hostingTeam.countryCode|lower }}.png" width="32" height="24"  alt="{{ match.hostingTeam.countryCode }}"
                            title="{{ match.hostingTeam }}">
                    {% endif %}
                    <p>{{ match.hostingTeamScore }} - {{ match.receivingTeamScore }}</p>
                </li>
                {% endfor %}
            </ol>
            {% endif %}
        {% endfor %}
        </div>
    </div>

    <hr>
    <h2 class="text-center">Statistiques</h2>
    <div class="row">
        <div class="col-12 col-lg-6">
            {{ render_chart(chart) }}
        </div>
        <div class="col-12 col-lg-6">
            {{ render_chart(goalChart) }}
        </div>
        <div class="col-12">
            {{ render_chart(eloHistoryChart) }}
        </div>
    </div>
    <hr>
    <h2 class="text-center">Matchs</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Équipes</th>
            <th>Tournoi</th>
            <th>Résultat</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        {% for match in matches %}
            <tr class="{{ match.winner == team ? "table-success" : match.loser == team ? "table-danger" : "table-warning" }}">
                <td>
                    <a class="text-decoration-none text-black" href="{{ path('team_view', {'id': match.hostingTeam.id }) }}">{{ match.hostingTeam }}</a> -
                    <a class="text-decoration-none text-black" href="{{ path('team_view', {'id': match.receivingTeam.id }) }}">{{ match.receivingTeam }}</a>
                </td>
                <td>
                    <a class="text-decoration-none text-black" href="{{ path('tournament_view', {'id': match.tournament.id }) }}">
                        {{ match.tournament }}
                    </a>
                </td>
                <td>
                    {{ match.hostingTeamScore }} - {{ match.receivingTeamScore }}
                    {% if match.penaltiesWinner %}
                        <small class="text-muted">
                            ({{ match.penaltiesWinner }} tab)
                        </small>
                    {% endif %}
                </td>
                <td>{{ match.description }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}


