{% extends 'base.html.twig' %}

{% block title %}
    Équipe - {{ team.name }}
{% endblock %}


{% block body %}
    <h1 class="text-center">
        Équipe - {{ team.name }}
        {% if is_granted('ROLE_USER') %}
            <a href="{{ path('team_edit', {'id': team.id}) }}" class="btn btn-warning">
                <i class="fas fa-edit"></i>
            </a>
        {% endif %}
    </h1>
    <hr>

    <h2>Trophées</h2>
    <hr>

    {% if team.trophies is empty %}
        <div class="alert alert-info">Cette équipe n'a reçu aucun trophée.</div>
    {% endif %}

    <div class="row">
        {% for trophy in team.trophies %}
            <div class="card col-12 col-md-6 col-lg-4">
                <div class="card-body">
                    <h5 class="card-title">
                        <i class="fas fa-trophy" style="color: goldenrod"></i>
                        {{ trophy.name }}
                    </h5>
                    <hr>
                    <h6 class="card-subtitle">
                        <i class="fas fa-futbol"></i>
                        {{ trophy.tournament }}
                    </h6>
                    <p><i class="fas fa-clock"></i> Décerné le {{ trophy.givenAt|date('d/m/Y') }}</p>
                </div>
            </div>
        {% endfor %}
    </div>


    <hr>
    <h2>Statistiques</h2>
    <div class="row">
        <div class="col-12 col-lg-6">
            {{ render_chart(chart) }}
        </div>
        <div class="col-12 col-lg-6">
            {{ render_chart(goalChart) }}
        </div>
        <div class="col-12">
            {{ render_chart(eloHistoryChart) }}
        </div>
    </div>
    <hr>
    <h2>Matchs</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Équipes</th>
            <th>Tournoi</th>
            <th>Résultat</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        {% for match in matches %}
            <tr class="{{ match.winner == team ? "table-success" : match.penalties ? "table-warning" : "table-danger" }}">
                <td>{{ match.hostingTeam }} - {{ match.receivingTeam }}</td>
                <td>{{ match.tournament.name }}</td>
                <td>{{ match.hostingTeamScore }} - {{ match.receivingTeamScore }}</td>
                <td>{{ match.description }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}


