{% extends 'base.html.twig' %}

{% block title %}
    Génération de roster de tournoi
{% endblock %}

{% block body %}
        <h1 class="text-center">Générer un roster de tournoi</h1>
        <hr>
        {{ form_start(form) }}
        {{ form_rest(form) }}
        <div class="text-center">
            <button type="submit" class="btn btn-outline-primary">Générer</button>
        </div>

        {{ form_end(form) }}

        {% if teams is not empty %}
            <h2>Équipes tirées au sort</h2>
            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover"
                       data-toggle="table"
                       data-search="true"
                       data-locale="fr-FR"
                >
                    <thead>
                    <tr>
                        <th>Classement</th>
                        <th>Pays</th>
                        <th>Classement</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for team in teams %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>
                                <img src="https://flagcdn.com/w20/{{ team.countryCode|lower }}.png" width="16" height="12"  alt="{{ team.countryCode }}">
                                <a class="text-decoration-none text-black" href="{{ path('team_view', {"id": team.id}) }}">{{ team.name }}</a>
                                {% for tournament in team.winnedTournaments %}
                                    <i class="fas fa-star" style="color: goldenrod" title="{{ tournament }}" ></i>
                                {% endfor %}
                                {% for tournament in team.finalistTournaments %}
                                    <i class="fas fa-star fa-sm" style="color: silver" title="{{ tournament }}" ></i>
                                {% endfor %}
                                {% for tournament in team.finalPhasesTournaments %}
                                    <i class="fas fa-star fa-xs" style="color: #cd7f32" title="{{ tournament }}" ></i>
                                {% endfor %}
                            </td>
                            <td>{{ team.rating }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
{% endblock %}



