{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center">
        {{ tournament.name }}
    </h1>
    <hr>

    <h2>Matchs</h2>

    {% if matches is empty %}
        <div class="alert alert-info">Aucun match n'a encore été joué dans ce tournoi.</div>
    {% endif %}

    {% for match in matches %}
        {{ match.hostingTeam.name }} <b>{{ match.hostingTeamScore }}</b> - <b>{{ match.receivingTeamScore }}</b> {{ match.receivingTeam.name }}
    {% endfor %}

{% endblock %}

{% block title %}
    {{ tournament.name }}
{% endblock %}

