{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center">
        {{ tournament.name }}
    </h1>
    <hr>

    <h2>Matchs</h2>

    <a href="{{ path('match_create', {'tournament': tournament.id}) }}" class="btn btn-outline-success">
        Créer un match
    </a>

    {% if matches is empty %}
        <div class="alert alert-info">Aucun match n'a encore été joué dans ce tournoi.</div>
    {% endif %}

    <ul>
        {% for match in matches %}
            <li>
                {{ match.hostingTeam.name }} <b>{{ match.hostingTeamScore }}</b> - <b>{{ match.receivingTeamScore }}</b> {{ match.receivingTeam.name }} -
                <a href="{{ path('match_edit', {'id': match.id}) }}">Éditer</a>
            </li>
        {% endfor %}
    </ul>


{% endblock %}

{% block title %}
    {{ tournament.name }}
{% endblock %}

