{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center">
        {{ tournament.name }}
        <a href="{{ path('tournament_edit', {'id': tournament.id }) }}" class="btn btn-warning"><i class="fas fa-edit"></i></a>
    </h1>
    <hr>

    {% if lastMatch is not null %}
    <h2>Phases finales</h2>
        <div class="wrapper">
            <div class="item">
                <div class="item-parent">
                    <p>
                        <strong>
                            <img src="https://flagcdn.com/w40/{{ lastMatch.hostingTeam.countryCode|lower }}.png" width="32" height="24"  alt="{{ lastMatch.hostingTeam.countryCode }}">
                            {{ lastMatch.hostingTeamScore }}
                            -
                            {{ lastMatch.receivingTeamScore }}
                            <img src="https://flagcdn.com/w40/{{ lastMatch.receivingTeam.countryCode|lower }}.png" width="32" height="24"  alt="{{ lastMatch.receivingTeam.countryCode }}">
                        </strong>
                    </p>
                </div>
                {% include 'includes/tree-entry.html.twig' %}
            </div>
        </div>
    {% endif %}


    <h2>Matchs</h2>

    {% if is_granted('ROLE_USER') %}
        <a href="{{ path('match_create', {'tournament': tournament.id}) }}" class="btn btn-outline-success">
            Créer un match
        </a>
    {% endif %}

    {% if matches is empty %}
        <div class="alert alert-info">Aucun match n'a encore été joué dans ce tournoi.</div>
    {% endif %}

    <div class="table-responsive">
        <table class="table bs-table table-hover">
            <thead>
            <tr>
                <th>Match</th>
                <th>Résultat</th>
                <th>Description</th>
                {% if is_granted('ROLE_USER') %}
                    <th>Actions</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for match in matches %}
                <tr>
                    <td>
                    <span class="{{ match.penaltiesWinner == match.hostingTeam ? 'text-warning fw-bold' : match.winner == match.hostingTeam ? 'text-success fw-bold' : '' }}">
                        <a class="text-decoration-none" style="color: inherit;" href="{{ path('team_view', {'id': match.hostingTeam.id }) }}">{{ match.hostingTeam }}</a></span> -
                        <span class="{{ match.penaltiesWinner == match.receivingTeam ? 'text-warning fw-bold' : match.winner == match.receivingTeam  ? 'text-success fw-bold' : '' }}">
                        <a class="text-decoration-none" style="color: inherit;" href="{{ path('team_view', {'id': match.receivingTeam.id }) }}">{{ match.receivingTeam }}</a>
                    </span>
                    </td>
                    <td>{{ match.hostingTeamScore }} - {{ match.receivingTeamScore }}</td>
                    <td>{{ match.description }}</td>
                    {% if is_granted('ROLE_USER') %}
                        <td>
                            <a class="text-decoration-none text-black" href="{{ path('match_edit', {'id': match.id}) }}">Éditer</a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>



{% endblock %}

{% block title %}
    {{ tournament.name }}
{% endblock %}

