<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}Tournoi des nations{% endblock %}</title>

        {% block stylesheets %}
            <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto Condensed">
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body {{ stimulus_controller('symfony/ux-swup/swup') }} data-containers="#swup #nav">

    {{ include('includes/navbar.html.twig') }}

    <main data-controller="select2">
        <div class="container mt-3">

            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }}">{{ message }}</div>
                {% endfor %}
            {% endfor %}

            <div class="card">
                <div class="card-body">
                    {% block body %}

                    {% endblock %}
                </div>
            </div>
        </div>
    </main>

    </body>
</html>
