{% extends 'base.html.twig' %}

{% block title %}
    Créer un match
{% endblock %}

{% block body %}
    <h1 class="text-center">Créer un match</h1>
    <hr>

    {{ form_start(form) }}
    <div class="row">
        <div class="col-12">
            {{ form_row(form.tournament) }}
        </div>
        <div class="col-12 col-md-5">
            {{ form_row(form.hostingTeam) }}
        </div>
        <div class="col-12 col-md-1">
            {{ form_row(form.hostingTeamScore) }}
        </div>
        <div class="col-12 col-md-1">
            {{ form_row(form.receivingTeamScore) }}
        </div>
        <div class="col-12 col-md-5">
            {{ form_row(form.receivingTeam) }}
        </div>
        <div class="col-12">
            {{ form_row(form.penaltiesWinner) }}
        </div>
        <div class="col-12">
            {{ form_row(form.description) }}
        </div>
    </div>

    {{ form_rest(form) }}
    <button type="submit" class="btn btn-outline-primary">Créer le match</button>
    {{ form_end(form) }}
{% endblock %}

