{% extends 'base.html.twig' %}

{% block title %}
    Éditer un match : {{ match.hostingTeam }} - {{ match.receivingTeam }}
{% endblock %}

{% block body %}
    <h1 class="text-center">Éditer un match : {{ match.hostingTeam }} - {{ match.receivingTeam }}</h1>

    <a class="text-decoration-none text-black btn btn-danger" href="{{ path('match_cancel', {'id': match.id}) }}">Annuler le match</a>
    <hr>

    {{ form_start(form) }}
    <div class="row">
        <div class="col-12">
            {{ form_row(form.tournament) }}
        </div>
        <div class="col-12 col-md-5">
            {{ form_row(form.hostingTeam) }}
        </div>
        <div class="col-12 col-md-1">
            {{ form_row(form.hostingTeamScore) }}
        </div>
        <div class="col-12 col-md-1">
            {{ form_row(form.receivingTeamScore) }}
        </div>
        <div class="col-12 col-md-5">
            {{ form_row(form.receivingTeam) }}
        </div>
        <div class="col-12">
            {{ form_row(form.penaltiesWinner) }}
        </div>
        <div class="col-12">
            {{ form_row(form.description) }}
        </div>
    </div>

    {{ form_rest(form) }}
    <button type="submit" class="btn btn-outline-primary">Créer le match</button>
    {{ form_end(form) }}
{% endblock %}

