{% extends 'base.html.twig' %}

{% block title %}
    Éditer un match : {{ match.hostingTeam }} - {{ match.receivingTeam }}
{% endblock %}

{% block body %}
    <h1 class="text-center">Éditer un match : {{ match.hostingTeam }} - {{ match.receivingTeam }}</h1>
    <hr>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-outline-primary">Éditer le match</button>
    {{ form_end(form) }}
{% endblock %}

